{% extends 'Base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <h2>Logowanie</h2>
        <br/><br/>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="container">
            <div class="form-group label-static is-empty">
                <div class="input-group">
                    <span class="input-group-addon" title="Użytkownik">
                        Login
                    </span>
                    {% render_field form.username class="form-control" placeholder="Podaj login" %}
                </div>
            </div>
            <div class="form-group label-static is-empty">
                <div class="input-group">
                    <span class="input-group-addon" title="Hasło">
                        Hasło
                    </span>
                    {% render_field form.password class="form-control" placeholder="Wprowadź hasło" %}
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-block">Zaloguj</button>
            </div>
        </form>
    </div>
{% endblock %}