{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Blog kulinarny{% endblock %}</title>
<body style="background-color: aliceblue">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" style="font-family: lobster; color: white">
        <img src="{% static '3.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Blog kulinarny
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/">Strona Domowa<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ustawienia</a>
            </li>
            </li>
        </ul>
        <div class="float-right">
            {% if user.is_authenticated %}
                <span style="color: white; font-family: 'Bodoni MT Black'">Zalogowano jako&nbsp;{{ user.username }}</span>
                <a href="/logout" class="btn btn-danger btn-rounded waves-effect">Wyloguj</a>&nbsp; &nbsp;
            {% else %}
                <a href="/login" class="btn btn-success">Zaloguj</a>&nbsp; &nbsp;
                <a href="/register" class="btn btn-warning">Rejestracja</a>
            {% endif %}
            &nbsp;&nbsp; &nbsp;
        </div>

    </div>
</nav>
<div id="header">
    {% block header %}{% endblock %}
</div>
&nbsp;
<div id="content">
    {% block content %}
        This is a fallback text
    {% endblock %}
</div>
{% block footer %}
    <div style="position: fixed;
   bottom: 0;
   width: 100%;
   left: 0;
   padding: 1rem;
   height: 3rem;
   background-color: transparent;
   text-align: right;
   clear: both;">
        &copy; Rafał Szydłowski 2017

    </div>
{% endblock %}
</body>
</html>