{% extends 'Base.html' %}
{% load static %}
{% block header %}
    <div class="header-image text-center">
        <img src="{% static '2.jpg' %}" class="img-fluid" alt="Responsive image">
        <h1 class="display-3 text-center">Witaj na blogu kulinarnym</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center row-m-t">
            <div class="col-md-12">
                <h1 class="text-center"> Ostatnie wpisy</h1>
            </div>
            <div class="card-columns">
                {% for post in posts %}
                    <div class="card">
                        <a href="{% url 'post' post.rodzaj post.slug %}">
                            {% if post.obraz %}
                            <img class="card-img-top img-fluid" src="{{ post.obraz.url }}">
                            {% elif not post.obraz and post.rodzaj == "s" %}
                                <img class="card-img-top img-fluid" src="{% static 's3.jpg' %}">
                            {% elif not post.obraz and post.rodzaj == 'o' %}
                                <img class="card-img-top img-fluid" src="{% static 'o1.jpg' %}">
                            {% elif not post.obraz and post.rodzaj == 'd' %}
                                <img class="card-img-top img-fluid" src="{% static 'd1.jpg' %}">
                            {% elif not post.obraz and post.rodzaj == 'i' %}
                                <img class="card-img-top img-fluid" src="{% static 'inne.jpg' %}">
                            {% elif not post.obraz and post.rodzaj == 'k' %}
                                <img class="card-img-top img-fluid" src="{% static 'k1.jpg' %}">
                            {% endif %}
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">{{ post.tytul }}</h4>
                            <p class="card-text">{{ post.podsumowanie }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
