{% extends 'Base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card-columns">
                {% for post in kategoria %}
                    <div class="card">
                        <a href="/post/{{ post.rodzaj }}/{{ post.slug }}">
                            <img class="card-img-top img-fluid" src="{{ post.obraz.url }}">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">{{ post.tytul }}</h4>
                            <p class="card-text">{{ post.podsumowanie }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% if not kategoria %}
                    <p>Brak danych</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}