{% extends 'Base.html' %}
{% block content %}
    <div class="container">
        <a href="/">Powrót do strony głównej</a><br/><br/>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-3">
                    <h6 class="text-center text-bold">Kategoria: {{ post.get_rodzaj_display }}</h6>
                    {% for foo in posts %}
                        {% if post.rodzaj == foo.rodzaj and post.tytul != foo.tytul %}
                            <div>
                                <span class="summary-title">
                                    <a href="/post/{{ foo.rodzaj }}/{{ foo.slug }}">{{ foo.tytul }}</a> </span>
                                <p class="summary">{{ foo.podsumowanie }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-9">
                <h2>{{ post.tytul }}</h2>
                {% if post.autor == user %}
                    <div class="button-group">
                        <a href="{% url 'edytuj' post.pk %}" class="btn btn-outline-primary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Edytuj
                        </a>
                        <!--<a href="{% url 'usun' post.pk %}" class="btn btn-outline-danger" role="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Usuń
                        </a>-->
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#exampleModal">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            Usuń
                        </button>
                    </div>
                {% endif %}
                <div>
                    {{ post.tresc|linebreaks }}
                    {% if post.obraz %}
                        <img class="img-fluid" src="{{ post.obraz.url }}" style="width: 60%; height: auto">
                    {% endif %}
                    <p class="font-italic">autor: {{ post.autor.username }}</p>

                </div>
            </div>
        </div>
    </div>
    {% include 'Modal.html' %}
{% endblock %}
{% block title %}Blog kulinarny: {{ post.tytul }}{% endblock %}